h2 Skapa en ny licens
form#post(action=base + '/new', method='post')
  p
    label(for='license['user']) Användare
    input(type='text', name='license[user]')
  p
    label(for='license['product']) Produktnamn
    input(type='text', name='license[product]')
  p
    label(for='license['key']) Licens
    input(type='text', name='license[key]')
  p
    input(type='submit', value='Skapa')
